################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HENRY.vcxproj.user
/HENRY.vcxproj.filters
/HENRY.vcxproj
/HENRY.sln
/.vs
