[submodule "dep/arduino"]
	path = dep/arduino
	url = https://github.com/NHS-Sailbot/arduino
[submodule "dep/camera"]
	path = dep/camera
	url = https://github.com/NHS-Sailbot/camera
[submodule "dep/engine"]
	path = dep/engine
	url = https://github.com/GabeRundlett/engine
